/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea/commandlinetools/Composer_01_07_20_13_15_c.xml
.idea/commandlinetools/Composer_22_06_20_22_39_c.xml
.idea/commandlinetools/Symfony_01_07_20_13_16_s.xml
.idea/commandlinetools/Symfony_22_06_20_22_40_s.xml
.idea/commandlinetools/Symfony_6_30_20__8_33_PM_s.xml
bin/symfony_requirements
var/SymfonyRequirements.php
